body{
    padding: 100px;

}
.submit-area{
    margin: 50px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: slateBlue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
